*{font-family: "Albany AMT",sans-serif;font-size:11px;margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background:#ffffff;
	color:#555;
}
a{color:#7f99ca;text-decoration:none;outline:0;}
p{color:#aaa;}
ul{list-style:none;}
button::-moz-focus-inner{border:0;padding:0;}
input{outline:0;}
kbd{
	display: inline-block;
	margin: 0 .1em;
	padding: .1em .6em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 10px;
	line-height: 10px;
	color: #242729;
	text-shadow: 0 1px 0 #fff;
	background-color: #e1e3e5;
	border: 1px solid #adb3b9;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #fff inset;
	white-space: nowrap;
}

.breakword{word-wrap:break-word;}

.menu{padding:0 10px;margin-bottom:10px;background-color:#fafafb;box-shadow:0 1px 0 rgba(12,13,14,0.15),0 0 0 transparent,0 0 0 transparent,0 0 0 transparent;}
.menu > li{display:inline-block;padding:0 8px;}
.menu > li.active{background:linear-gradient(to top,#f48024,#f48024 2px,#eff0f1 2px,#eff0f1);}
.menu > li > span{display:inline-block;font-weight:bold;line-height:26px;cursor:default;}
.main-window{font-size:0;display:flex;height:calc(100% - 60px);padding:0 10px;}

.cartoshop-splash{position:absolute;top:0;left:0;width:100%;height:100%;z-index:100;background:rgba(255,255,255,.8);}
.cartoshop-splash .cartoshop-splash-center{width:300px;margin:10% auto 0 auto;background:#6985a0;color:white;padding:10px;border-radius:3px;box-shadow:0 1px 10px rgba(0,0,0,.2);}
.cartoshop-splash .cartoshop-splash-center img{width:100%;}
.cartoshop-map{display:inline-block;width:calc(100% - 30%);vertical-align:top;}
.cartoshop-sidebar{display:inline-block;width:30%;padding-left:10px;}
.cartoshop-sidebar > header.node{padding-left:0;}
.cartoshop-footer{padding:4px 10px 0 10px;}
.cartoshop-templates{display:none;}
.cartoshop-layer-list{}

textarea.cartoshop-cartocss{height:100px;max-height:100%;}
textarea.cartoshop-textarea-big{height:100px;max-height:100%;}


/* INI-buttons */
.btn{
	position:relative;display:inline-block;
	font-size:13px;
	line-height:15px;
	padding:4px 14px 4px 14px;border-radius:2px;
	background:linear-gradient(to bottom,white,white 1px,#f1f1f1 1px,#f1f1f1);
	color:#727272;
	border:1px solid #b4b4b4;
	cursor:default;
	box-shadow:0 1px 0 rgba(0,0,0,.1);
}
.btn > i{font-size:inherit;}
.btn > span{font-size:inherit;}
.btn > *{color:inherit;}
.btn.main{
	background:linear-gradient(to bottom,#85c1f6,#85c1f6 1px,#6cb5f4 1px,#6cb5f4);
	color:white;
	border:1px solid #5e9ed5;
}
.btn.search{background:transparent;padding:0;border:0;font-size:0;line-height:0;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:3px;box-shadow:inset 0 1px 4px rgba(66,66,66,.2),0 1px 0 rgba(255,255,255,.4);}
.btn.search > input{display:inline-block;width:calc(100% - 30px);background:transparent;border:0;box-shadow:unset;height:19px;line-height:19px;padding:0 3px;}
.btn.search > input:hover,.btn.search > input:focus{border:0;box-shadow:unset;}
.btn.search > button{display:inline-block;width:30px;border:0;padding-left:0;padding-right:0;}
.btn-group{font-size:0;}
.btn-group > .btn{border-radius:0;}
.btn-group > .btn + .btn{border-left:0 !important;}
.btn-group > .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group > .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.btn-group.right{text-align:right;}
.btn-group.mini > .btn{font-size:11px;padding:1px 8px 1px 8px;}


.btn:hover{}
.btn-search{min-width:200px;font-size:0;}
.btn-search > form{font-size:0;}
.btn-search > input,.btn-search > form > input{display:inline-block;padding:5px 10px 5px 10px;border:0;margin-bottom:2px;vertical-align:top;border-top-right-radius:0;border-bottom-right-radius:0;}
.btn-search > input:focus,.btn-search > form > input:focus{border:0;}
.btn-search > .btn,.btn-search > form > .btn{border-top-left-radius:0;border-bottom-left-radius:0;}
.btn + .btn{}
.btn-combo{}
.btn > .dropdown-toggle{font-size:inherit;}
.dropdown-menu .btn-group{margin-bottom:0;}
input[type="text"],input[type="password"],textarea{width:100%;max-width:100%;height:20px;color:#4c4c4c;padding:0 4px;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:2px;box-shadow:inset 0 1px 4px rgba(66,66,66,.2),0 1px 0 rgba(255,255,255,.4);outline:none;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{border:1px solid #cd5728;box-shadow:inset 0 0 2px rgba(205,87,40,.6),0 1px 0 rgba(255,255,255,.4);}
input[type="checkbox"]{vertical-align:middle;}
textarea{height:auto;}
/* END-buttons */
/* INI-dropdown */
.dropdown-toggle{position:relative;}
.dropdown-menu{position:absolute;left:0;z-index:9999999;display:none;min-width:300px;list-style:none;background:linear-gradient(to bottom,#fff,#fff 1px,#efefef 1px,#ededed);font-size:13px;text-align:left;box-shadow:0 1px 8px rgba(100,100,100,.4);border-bottom:1px solid #aaa;border-radius:2px;z-index:100;}
.dropdown-toggle.active > .dropdown-menu{display:block;cursor:default;}
.dropdown-toggle > ul.dropdown-menu.padded{margin:10px 0;font-size:0.9em;}
.dropdown-toggle > ul.dropdown-menu.padded li{padding:0 10px;min-height:19px;color:#555;font-size:1em;}
.dropdown-toggle > ul.dropdown-menu.padded li.dropdown-title{font-size:1.3em;font-weight:600;background-color:#f4f4f4;}
.dropdown-toggle > ul.dropdown-menu.padded li > a{display:block;text-decoration:none;white-space:nowrap;}
.dropdown-menu .datepicker{padding:4px;}
.dropdown-menu > .wrapper{padding:4px;}
.dropdown-menu > .wrapper .btn-group:last-child{margin:5px;}
.dropdown-menu h4{padding:0;}
.dropdown-menu.padded{padding:8px;}
.dropdown-menu .widget{margin:10px 0;}
.dropdown-menu > ul{font-size:0;}
.dropdown-menu > ul > *[class*='dropdown-menu-state-']{display:none;vertical-align:top;}
.dropdown-menu > ul > *.dropdown-menu-state-main{display:block;}
.dropdown-menu > ul > li .btn-group:last-child{margin-top:10px;}
/* END-dropdown */

/* INI-node */
.node{position:relative;padding:10px;}
.node + .node{border-top:1px solid #eee;}
.node h1{font-size:26px;line-height:26px;padding-bottom:2px;}
.node h2{font-size:16px;}
.node h2 > *{font-size:inherit;color:inherit;}
.node h1 + .btn-group{margin-top:0 !important;}
.node p{color:#777;}
.node header{padding-bottom:20px;}
.node header > h2{padding:0;}
.node .image{display:inline-block;vertical-align:top;}
.node .image > img{display:block;border-top:1px solid transparent;}
.node .image > i{display:block;background:#7ba7ff;color:white;text-align:center;font-style:normal;border-radius:2px;box-shadow:inset 0 1px 6px rgba(0,0,0,.2);}
.node .wrapper{display:inline-block;vertical-align:top;}
.node .image + .wrapper{margin-left:10px;}
.node .image.s32  + .wrapper{width:calc(100% - 32px - 20px);}
.node .image.s48  + .wrapper{width:calc(100% - 48px - 20px);}
.node .image.s64  + .wrapper{width:calc(100% - 64px - 20px);}
.node .image.s120 + .wrapper{width:calc(100% - 120px - 20px);}
.node .image.s32  img{width:32px !important;}
.node .image.s48  img{width:48px;}
.node .image.s64  img{width:64px;}
.node .image.s120 img{width:120px;}
.node .image.s16  i{width:16px;height:16px;line-height:16px;font-size:1em;}
.node .image.s32  i{width:32px;height:32px;line-height:32px;font-size:1.3em;}
.node .image.s48  i{width:48px;height:48px;line-height:48px;font-size:2.6em;}
.node .image.s64  i{width:64px;height:64px;line-height:64px;font-size:3em;}
.node .image.s120 i{width:120px;height:120px;line-height:120px;font-size:1em;}
.node .description{margin-bottom:10px;line-height:1.5;}
.node .description p + p{margin-top:20px;}
.node > .image.s64  + .wrapper + .node{padding-left:32px;}
.node > .image.s64  + .wrapper + .node:before{position:absolute;left:8px;display:block;width:16px;height:16px;border-left:1px solid #888;border-bottom:1px solid #888;content:" ";}
/* END-node */
/* INI-Box */
.box{margin:10px 0;}
.box + .btn-group{margin-top:10px;}
/* END-Box */
/* INI-Table */
ul.table{display:table;width:100%;margin:10px 0;}
ul.table:not(.grey-light){color:#444;}
ul.table:empty{display:none;}
ul.table.align-top li > div{vertical-align:top;}
ul.table.layout-fixed{table-layout:fixed;}
ul.table > li{display:table-row;background:white;}
ul.table > li.disabled,ul.table > li.disabled a{color:#ccc;}
ul.table > li.disabled img{opacity:.2;}
ul.table > li.hidden{display:none;}
ul.table > li > div{display:table-cell;padding:1px 4px;vertical-align:middle;}
ul.table > li > div:first-child > img:not(.inline){display:block;}
ul.table > li > div.right{text-align:right;}
ul.table > li:nth-child(2n+1){background:#f7f7f7;}
ul.table > li.dark{background:#c7c7c7;}
ul.table > li.dark:nth-child(2n+1){background:#b7b7b7;}
ul.table > li.header{background:transparent;}
ul.table > li.header > div{padding-top:4px;padding-bottom:4px;color:#222;border-bottom:1px solid #eee;}
ul.table > li.green > div{background:#b5d6a7;}
ul.table > li.green > div a{color:#888;text-decoration:underline;}
ul.table > li > div.ribbon-disabled{padding-left:8px;background:linear-gradient(to right,#888888 0,#888888 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-running{padding-left:8px;background:linear-gradient(to right,#61cb5d 0,#61cb5d 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-awaiting{padding-left:8px;background:linear-gradient(to right,#fc985b 0,#fc985b 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-finished{padding-left:8px;background:linear-gradient(to right,#3f72ff 0,#3f72ff 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-scheduled{padding-left:8px;background:linear-gradient(to right,#205081 0,#205081 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-green{padding-left:8px;background:linear-gradient(to right,#61cb5d 0,#61cb5d 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-orange{padding-left:8px;background:linear-gradient(to right,#fc985b 0,#fc985b 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-red{padding-left:8px;background:linear-gradient(to right,#db4b3e 0,#db4b3e 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-blue-light{padding-left:8px;background:linear-gradient(to right,#3f72ff 0,#3f72ff 4px,transparent 4px,transparent);}
ul.table > li > div.ribbon-blue-dark{padding-left:8px;background:linear-gradient(to right,#205081 0,#205081 4px,transparent 4px,transparent);}
ul.table div.collapse{width:1px;}
ul.table div.collapse-16{width:16px;}

ul.table.strip > li > div{border-top:1px solid #e2e7e7;border-left:1px solid #e2e7e7;}
ul.table.strip > li > div:first-child{}
ul.table.strip > li > div:last-child{border-right:1px solid #e2e7e7;}
ul.table.strip > li:last-child > div{border-bottom:1px solid #e2e7e7;}
ul.table.strip > li.header{background:#f4f7f8;}
ul.table.strip > li.header > div{padding:6px 8px;color:#666;background:linear-gradient(to bottom,#fff 0,#fff 1px,#f4f7f8 1px);border-bottom:1px solid #aaa;border-top:1px solid #ccc;}
ul.table.strip > li.header + li{border-top:0;}
ul.table.strip > li.header + li.green > div{background:linear-gradient(to bottom,#9ab68e,#b5d6a7 2px);}

ul.table.radio > li > div:first-child{width:20px;}
ul.table.stats > li > div:last-child{width:20px;text-align:right;}
ul.table.top > li > div{vertical-align:top;}

ul.table.highlight > li:hover{background-color:#f2f2da;}
ul.table.clean{padding:0;margin:0;}
ul.table.clean > li{background:transparent;}
ul.table.clean > li > div{padding:0;background:transparent;}
/* END-Table */
/* INI-tabs */
.tabs{position:relative;font-size:0;background:linear-gradient(to top,#ddd 1px,transparent 1px,transparent);}
.tabs .tab{display:inline-block;position:relative;top:1px;font-size:13px;line-height:16px;border-top-left-radius:4px;border-top-right-radius:4px;cursor:pointer;}
.tabs .tab.active{background:white;border:1px solid #ddd;border-bottom:1px solid white;color:#333;}
.tabs .tab + .tab{margin-left:12px;}
.tabs .tab > .label,
.tabs .tab > a{display:block;padding:9px 4px 8px 4px;margin:0;}
.tabs .tab.active > .label,
.tabs .tab.active > a{padding:9px 14px 8px 14px;}
.tabs .tab > .label > span > .label{padding-top:0;padding-bottom:0;}
.tabs + .wrapper{margin-top:20px;}
.tabs + section{border-top:0px;}
.tabs + .two-column > .column > section:first-child{border-top:0px;}
/* END-tabs */
/* INI-tabs */
.widget-tabs{}
.widget-tabs ul.tabs{white-space:nowrap;max-width:100%;}
.widget-tabs ul.tabs > .tab{}
.widget-tabs .tabs-content{}
.widget-tabs .tabs-content > div{display:none;}
.widget-tabs .tabs-content > div.active{display:block;padding:6px;background:white;border:1px solid #ddd;border-top:0;}
.widget-tabs .tabs-content > div.active > h4{margin-top:6px;}
.widget-tabs + .btn-group{margin-top:10px;}
.widget-tabs + section{border-top:0;}
/* END-tabs */

.leaflet-container{cursor:default !important;}
.leaflet-controls-pane{z-index:10;}
.leaflet-controls-pane > .leaflet-control-geojson{background:rgba(0,0,255,.1);z-index:10;border:1px dashed #0088cc;}
.icon-vertex{background:#fff;border:1px solid #666;width:8px;height:8px;}
